@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
* {
  font-family: monospace;
  background-color: black;
  color: #60ff42;
}

body {
  margin: 100px 150px 0 150px;
  padding: 0;
}

.header {
  display: flex;
}

.title {
  padding-left: 25%;
  font-family: 'Combo', cursive;
  font-size: 30px;
}
.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}
.links {
  display: flex;
  flex: 1;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.links a {
  text-decoration: none;
  color: rgb(255, 204, 153);
  font-size: 30px;
}
.innerContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.innerContainer img {
  cursor: pointer;
}
.intro {
  display: block;
  padding: 0 58px 58px 58px;

  line-height: 2;
  font-size: medium;
}
.terry {
  width: 50%;
  padding: 20px;
}

footer {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
footer h5 {
  color: white;
}
footer a {
  color: rgb(255, 204, 153);
}
footer span {
  color: rgb(102, 102, 53);
}

.middle {
  display: flex;
  justify-content: space-between;
}
.left {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
.stickersContainer {
  display: flex;
  max-height: 150px;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 1059px) {
  .stickersContainer {
    display: flex;
    flex-direction: row;
    max-height: 500px;
  }
}

@media screen and (max-width: 720px) {
  .middle {
    flex-wrap: wrap;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gif {
    width: 300px;
  }
}
