@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&display=swap');
@font-face {
  font-family: Monolisa;
  src: url('pages/MonoLisa-Regular.otf');
}
* {
  font-family: Monolisa;
  background-color: black;
  color: #60ff42;
}

body {
  margin: 100px 150px 0 150px;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  display: flex;
}

.title {
  padding-left: 25%;
  font-family: 'Combo', cursive;
  font-size: 30px;
}
.gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
}
.nav {
  height: 32px;
  width: 80px;
  margin-bottom: 8px;
}
.links {
  display: flex;
  flex: 1;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
.links a {
  text-decoration: none;
  color: rgb(255, 204, 153);
  font-size: 30px;
}
.innerContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.innerContainer img {
  cursor: pointer;
}
.intro {
  font-size: 15px;
  line-height: 2;
  max-width: 700px;
  margin: auto;
  right: 0;
  left: 0;
}

footer {
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
}
footer h5 {
  color: white;
}
footer a {
  color: rgb(255, 204, 153);
}
footer span {
  color: rgb(102, 102, 53);
}

.stickersContainer {
  display: flex;
  max-height: 150px;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 1059px) {
  .stickersContainer {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 720px) {
  body {
    padding: 5px;
    margin: 15px;
  }
  .middle {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    max-width: 150px;
    align-items: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gif {
    width: 300px;
  }
  .stickersContainer {
    display: flex;
    flex-direction: column;
  }
}

.content {
  display: none;
}

/* Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
